@font-face {
	font-family: "Open Sans";
	src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
		url('../fonts/OpenSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
		url('../fonts/OpenSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
		url('../fonts/OpenSans-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}


/*Common styles*/

*{
    box-sizing: border-box;
}

:root {
    --contrast-color: #fff;
    --hover-color: #9D5CD0;
    --effect-color: #7943A4;
}

:focus{
    outline: 2px solid var(--hover-color);
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
  }

body{
    position: relative;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

p{
    margin: 0;
    line-height: 32px;
}

button{
    padding: 0;
    cursor: pointer;
}

input,
textarea,
[contenteditable] {
  caret-color: var(--hover-color);
}

.section-title{
    margin: 0;
    font-size: 48px;
    font-weight: 400;
    line-height: 65px;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}


.container{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1640px;
    width: 100%;
}

/* Header top-menu*/


.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-flow: column;
    width: 100%;
}

.header__top{
    padding: 29px 0px 28px 0;
    background-color: #000000;
}

.top-navigation__container{
    display: flex;
    align-items: center;
}

.top-navigation__logo{
    margin-right: 11.2%;
}
.main-navigation__list{
    display: flex;
    flex-flow: row nowrap;
    color: var(--contrast-color);


}
.main-navigation__item:not(:last-child){
    margin-right: 65px;
}

.main-navigation__item{
    font-size: 18px;
    color: var(--contrast-color);

}

.main-navigation__link:focus{
    outline: 2px solid var(--hover-color);

}

.main-navigation__item:active{
    color: var(--effect-color);
    transform: scale(0.9);
    transition: transform 0.3 ease-in-out;
}

.main-navigation__link:hover{
    color: #C283F3;
    transition: color 0.3s ease-in-out;
}

.main-navigation__link{
    color: var(--contrast-color);
    transition: color 0.3s ease-in-out;
}



.top-navigation__button{
    position: relative;
    margin-left: auto;
    border: none;
    font-size: 18px;
    color:var(--contrast-color);
    background-color: transparent;
    transition: color 0.2s ease-in-out;
}

.top-navigation__svg{
    margin-right: 4px;
    fill: #fff;
    stroke: #fff;
    transition: stroke 0.4s ease-in-out;
}

.top-navigation__button:focus{
    outline: 2px solid var(--hover-color);
}

.top-navigation__button:hover .top-navigation__svg > path{
    fill: #C283F3;
    stroke: #C283F3;
    transition: stroke 0.3s ease-in-out;
}

.top-navigation__button:hover{
    color: #C283F3;
    transition: color 0.2s ease-in-out;
}


.top-navigation__button:active{
    color: var(--hover-color);
}

.top-navigation__button:active .top-navigation__svg > path{
    fill: var(--hover-color);
    stroke: var(--hover-color);
}





/* Header bottom-menu */

.header__bottom{
    background-color: rgba(0, 0, 0, 0.4);
}

.bottom-navigation{
    display: flex;
    align-items: center;
}

.bottom-navigation__list{
    position: relative;
    display: flex;
    justify-content: space-between;
    color: var(--contrast-color);
}



.bottom-navigation__item{
    margin-right: 96px;
    padding: 25px 0;
    font-size: 18px;
    color: var(--contrast-color);
    transition: color 0.3s ease-in-out;
}

.bottom-navigation__link{
  position: relative;
  cursor: pointer;
}



.bottom-navigation__link:active{
    color: var(--effect-color);
}

.bottom-navigation__link_is-active{
    color: var(--effect-color);

}

.bottom-navigation__link:active .bottom-navigation__arrow{
    stroke: var(--effect-color);
    transition: stroke 0.1s ease-in-out;
}



.bottom-navigation__arrow{
    stroke: #fff;
    transform: rotate(360deg);
    transition: stroke 0.3s ease-in-out;

}



.bottom-navigation__item:hover{
    color: var(--hover-color);
    transition: color 0.3s ease-in-out;
}


.bottom-navigation__item:hover .bottom-navigation__arrow{
    stroke: #9D5CD0;
    transition: stroke 0.3s ease-in-out;
}


/*.bottom-navigation__item:hover .scroll-container{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
*/

.bottom-navigation__arrow_is-active{
    stroke: var(--effect-color);
    transform: rotate(180deg);


}


.simplebar-content-wrapper {
    overflow: auto;
  }

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before{
    top: 0;
 }

.simplebar-scrollbar::before {
    left: 0px;
    right: 0px;
    width: 2px;
    background-color: var(--contrast-color);
    opacity: 1;
  }

  .simplebar-track  .simplebar-scrollbar:active:before{
    background-color: var(--hover-color);
  }



.simplebar-track.simplebar-vertical{
    background-color: black;
    width: 2px;
    right: 20px;
    top: 40px;
    bottom: 40px;
}


.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}

.simplebar-offset{
  padding: 40px;
}

.scroll-container{
    position: absolute;
    visibility: hidden;
    margin-top: 25px;
    width: 300px;
    height: 340px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.4s;

}


.scroll-container_is-active{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.4s;
}


.scroll-container__link{
    display: block;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 20px;
    padding: 12px 9px;
    width: 216px;
    color: var(--contrast-color);
    border: 2px solid transparent;
    transition: outline .3s linear;
}


.scroll-container__link:hover{
  outline: 2px solid var(--hover-color);
  transition: outline .3s linear;
}

.scroll-container__link1{
    background: transparent url('../img/first-1.jpg');
    background-size: cover;
    background-position: center;

}

.scroll-container__link1:active{
    border: 2px solid #D1A9F0;
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),url('../img/first-1.jpg');
    background-size: cover;
    background-position: center;
    transition: all 0.2s linear;
}

.scroll-container__link2{
    background: transparent url('../img/first-2.jpg');
    background-size: cover;
    background-position: center;

}

.scroll-container__link2:active{
    border: 2px solid #D1A9F0;
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),url('../img/first-2.jpg');
    background-size: cover;
    background-position: center;
    transition: all 0.2s linear;
}

.scroll-container__link3{

    background: transparent url('../img/first-3.jpg');
    background-size: cover;
    background-position: center;

}

.scroll-container__link3:active{
    border: 2px solid #D1A9F0;
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),url('../img/first-3.jpg');
    background-size: cover;
    background-position: center;
    transition: all 0.2s linear;
}

.scroll-container__link4{
    background: transparent url('../img/first-1.jpg');
    background-size: cover;
    background-position: center;

}

.scroll-container__link4:active{
    border: 2px solid #D1A9F0;
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),url('../img/first-1.jpg');
    background-size: cover;
    background-position: center;
    transition: all 0.2s linear;
}



.bottom-navigation__search{
    display: flex;
    align-items: center;
    margin-left: auto;

}

.bottom-navigation__search:focus{
    outline: 2px solid var(--hover-color);
}

.bottom-navigation__search:hover .bottom-navigation__button{
    background-image: url('../img/loop-purple.svg');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;

}

.bottom-navigation__search:hover .bottom-navigation__search__field{
    border-bottom: 2px solid #C283F3;
    transition: border-color 0.3s linear;
}

.bottom-navigation__button{
    width: 30px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-image: url('../img/loop.svg');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease-in-out;
}

.bottom-navigation__search__field{
    margin-left: 5px;
    padding-bottom: 2px;
    width: 221px;
    border-color: var(--contrast-color);
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 18px;
    background-color: transparent;
    transition: border-color 0.3s linear;


}

.bottom-navigation__search__field::placeholder{
    font-size: 18px;
    color: var(--contrast-color);
}

.bottom-navigation__search__field:focus::placeholder{
    color: transparent;
}

.bottom-navigation__search__field{
    color: var(--contrast-color);
}

.bottom-navigation__search__field::-webkit-search-cancel-button{
    display: none;
}





/* Hero-block*/

.hero-section{
    position: relative;
}

.hero-swiper-container{
    position: absolute;
    z-index: 0;
    width: 100%;

}



@keyframes Scale{
    0%{
        transform: scale(1.2);
    }

    50%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.2);
    }
}



.swiper-slide-photo-1{
  min-height: 800px;
  background-image: url('../img/first-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  animation: Scale 12s linear  infinite;

}

.swiper-slide-photo-2{
  min-height: 800px;
  background-image: url('../img/first-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  animation: Scale 12s linear  infinite 3s;
}

.swiper-slide-photo-3{
  min-height: 800px;
  background-image: url('../img/first-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  animation: Scale 12s linear infinite;
}



.hero-container{
    position: relative;
    margin-bottom: 122px;
    padding-top: 240px;
    color: var(--contrast-color);
    z-index: 8;
}



.hero-container__head{
    margin: 0;
    margin-bottom: 1.5%;
    margin-right: 63%;
    font-size: 72px;
    font-weight: 700;
    line-height: 82.8px;
}

.hero-container__text{
    margin-left: 0px;
    margin-bottom: 5.6%;
    width: 38%;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.hero-container__btn{
    padding: 22px 32px;
    font-size: 18px;
    font-weight: 700;
    border: 3px solid var(--hover-color);
    border-radius: 100px;
    background-color: var(--hover-color);
    color: var(--contrast-color);
    transition: border-color 0.3s ease;
}

.hero-container__btn:hover{
    border: 3px solid #D1A9F0;
}

.hero-container__btn:focus{
    border: 3px solid var(--effect-color);
    outline: none;
}

.hero-container__btn:active{
    border: 3px solid #D1A9F0;
    background: var(--effect-color);
    outline: none;
}

/* About-us section*/


.about-us__container{
    padding-top: 80px;
    padding-bottom: 73px;
}

.about-us__head{
  margin-bottom: 16px;
}

.about-us__text{
    width: 67.5%;
}


/* Galery section*/

.galery{
    background-image: url('../img/galery-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.galery-container{
    display: flex;
    flex-flow: row nowrap;

    padding-top: 80px;
    padding-bottom: 73px;

}

.galery-content{
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 3;
    margin-right: 20px;
    width: 37%;
}


.galery-content__head{

    margin-bottom: 23px;
    color: var(--contrast-color);
}

.galery-content__filter{
    display: inline-block;

    color: var(--contrast-color);
}



.select-container{
    display: block;
    margin-top: 15px;
    max-width: 400px;
    width: 100%;
}

.choices__list--single{
    padding: 6px 16px 4px 4px;
}

#choices--selectCustom-item-choice-1{
    display: none;
}

.choices__list--dropdown .is-active > .choices-list #choices--selectCustom-item-choice-1{
    display: none;
}

.choices__list--dropdown .choices__item--selectable.is-selected{
    display: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted{
    color: #9D5CD0;

    background-color: transparent;
    transition: color 0.3s linear;
}


.is-open .choices__list--dropdown{
    border-radius: 10px;
    border: 2px solid #999;
    color: #999;

}

.choices__inner{
    position: relative;
    border: 1px solid var(--contrast-color);
    border-radius: 6px;
    color: var(--contrast-color);
    background-color:transparent;

}

.choices{
  z-index: 50;
}
.choices__list .is-active{
    position: absolute;
    top: 3px;
    padding: 10px;
    border: 1px solid var(--contrast-color);
    border-radius: 12px;
    color: var(--contrast-color);
    background-color: transparent;
    z-index: 50;
}

.choices__item--selectable .choices__inner.is-active{
    padding: 10px;
    border: 1px solid var(--contrast-color);
}


.choices__item--choice{
    padding: 8px;
    border-top: 2px solid #999;
    color: #999;
    transition: color 0.2s linear;
}

.choices__placeholder{
    opacity: 1;
}

.choices__inner{
    position: relative;
    padding: 4.5px 12px 3.75px;
    z-index: 40;
}

.choices__list--dropdown{
    position: absolute;
    top: 2px;
    padding-top: 40px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
}

.is-open .choices__item--choice{
    padding: 8px 8px 10px 15px;

}

.choices[data-type*=select-one]:after{
    content: '';
    height: 7px;
    width: 7px;
    border: 1px solid var(--contrast-color);
    border-color: var(--contrast-color) transparent transparent var(--contrast-color);
    position: absolute;
    right: 14.7px;
    top: 40%;
    z-index: 25;
    transform: rotate(223deg);
    pointer-events: none;
}

.choices[data-type*=select-one].is-open:after{
    top: 45%;
    margin-top: 0;
    transform: rotate(45deg);
    border: 1px solid var(--hover-color);
    border-color: var(--hover-color) transparent transparent #9D5CD0;
}


.choices[data-type*=select-one] .choices__inner{
    padding-bottom: 6.5px;
}
.is-focused .choices__inner{
    border: 2px solid var(--hover-color);
    border-radius: 6px;
    background-color: transparent;
}


.galery-content__text{
    margin-top: auto;
    margin-bottom: -5px;
    width: 85%;
    line-height: 32px;
    color: var(--contrast-color);
}

.galery-login{
    color: var(--hover-color);
    transition: color 0.3s ease;
}

.galery-login:hover{
  color: #C283F3;
  transition: color 0.3s ease;
}

.galery-login:active{
  color: #9D5CD0;
  transition: color 0.3s ease;
}

.galery-login:focus{
  color: var(--hover-color);
  transition: color 0.3s ease;
}

                /* Galery-swiper*/

.galery .swiper-container{
    margin-top: 15px;
    margin-right: 0;
    padding-left: 3px;
    padding-right: 3px;
    max-width: 1156px;
    width: 100%;
    height: 825px;
    flex-shrink: 1;
}


.galery-swiper-container .swiper-slide{
  position: relative;
  max-width: 350px;
  max-height: 350px;

}


.galery-swiper-slide:active:before{
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));

}



.galery-swiper-slide:hover:after{
  content: '';
  position: absolute;
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  background: rgba(0, 0, 0, 0.5) url('../img/loop_for_galery.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.galery-swiper-slide-img:nth-child(2n){
    margin-bottom: 0;
}


.swiper-btns{
    display: flex;
    justify-content: space-between;
    width: 130px;
    margin-top: 31px;
    margin-left: 6px;
    margin-bottom: 30px;
}

.swiper-pagination{
  width: auto;
  top: 15px;
  left: 56px;
  text-align: center;
  color: var(--contrast-color);
}

.swiper-pagination-fraction{
bottom: 100%;
}

.swiper-button-prev,
.swiper-button-next{
    position: static;
    top: 0%;
    left: 30px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
    background-color: #666666;
    transition: background-color 0.3s ease-in;
}


.swiper-button-prev:focus,
.swiper-button-next:focus{
    outline: none;
    border-radius: 100%;
    border: 2px solid var(--hover-color);
}

.swiper-button-prev:hover,
.swiper-button-next:hover{
    background-color: var(--hover-color);
}

.swiper-button-prev:active,
.swiper-button-next:active{
    border: 2px solid #D1A9F0;
    background-color: var(--effect-color);
    transition: all 0.2s ease-in;
}


.swiper-button-prev::after,
.swiper-button-next::after{
    display: none;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{
    content: '';
}

.swiper-button-prev{
    background-image: url('../img/prev.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20%;
}

.swiper-button-next{
    background-color: #666666;
    background-image: url('../img/next.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20%;
}




/* Catalog*/


.catalog-container{
    padding-top: 80px;
    padding-bottom: 40px;
}

.head-and-tabs{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}


.catalog__head{
    margin-right: 30px;
}


.tabs__item{
    display: inline-block;
    margin-right: 28px;
    margin-top: 2px;
}

.tabs__item:hover{
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}




.tabs__btn{
    display: inline-block;
    width: 64px;
    height: 64px;
    border: 2px solid transparent;
    border-radius: 100%;
    background-color: transparent;
    cursor: pointer;
    transition: border 0.4s ease-in;
}

.tabs__btn_active{
    border: 2px solid var(--hover-color);
    border-radius: 100%;
    pointer-events: none;
    transition: border 0.4s ease-in;
}

.tabs__france,
.tabs__germany,
.tabs__russia,
.tabs__italy,
.tabs__belgium{
  position: relative;
}

.tabs__france:active:before{
  border: 2px solid var(--hover-color);
  border-radius: 100%;
  transition: all .3s ease;
}

.tabs__belgium:active:before{
  border: 2px solid var(--hover-color);
  border-radius: 100%;
  transition: all .3s ease;
}

.tabs__russia:active:before{
  border: 2px solid var(--hover-color);
  border-radius: 100%;
  transition: all .3s ease;
}

.tabs__italy:active:before{
  border: 2px solid var(--hover-color);
  border-radius: 100%;
  transition: all .3s ease;
}

.tabs__germany:active:before{
  border: 2px solid var(--hover-color);
  border-radius: 100%;
  transition: all .3s ease;
}

.tabs__france:before{
  content: '';
  position: absolute;
  border: 2px solid transparent;
  width: 44px;
  height: 44px;
  top: 6px;
  left: 6px;
  background-image: url('../img/france.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .3s ease;
}

.tabs__germany:before{
  content: '';
  position: absolute;
  border: 2px solid transparent;
  width: 44px;
  height: 44px;
  top: 6px;
  left: 6px;
  background-image: url('../img/german.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .3s ease;
}

.tabs__russia:before{
  content: '';
  position: absolute;
  border: 2px solid transparent;
  width: 44px;
  height: 44px;
  top: 6px;
  left: 6px;
  background-image: url('../img/russia.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .3s ease;
}

.tabs__italy:before{
  content: '';
  position: absolute;
  border: 2px solid transparent;
  width: 44px;
  height: 44px;
  top: 6px;
  left: 6px;
  background-image: url('../img/italy.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .3s ease;
}

.tabs__belgium:before{
  content: '';
  position: absolute;
  border: 2px solid transparent;
  width: 44px;
  height: 44px;
  top: 6px;
  left: 6px;
  background-image: url('../img/europe.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .3s ease;
}


.tabs-content{
  display: none;
  cursor: pointer;

}

.tabs-content_active{
    display: block;
}

.tabs-content__text{
    cursor: initial;
    width: 69%;
    margin-bottom: 40px;
}

.artist{
    display: flex;
}


.germany-artist__info,
.belgium-artist__info,
.france-artist__info,
.russia-artist__info,
.artist__info{
  cursor: initial;
  display: none;
    max-width: 750px;
    width: 100%;
    margin-right: 50px;
    overflow: hidden;
}


.germany-artist__info_active,
.belgium-artist__info_active,
.france-artist__info_active,
.russia-artist__info_active,
.artist__info_active{
  display: block;
  overflow: hidden;
  animation: artist 0.5s ease-in 1;

}


@keyframes artist{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

.artist__picture{
  max-width: 750px;
  width: 100%;
  max-height: 470px;
  height: 100%;
  object-fit: cover;
}

.artist__name{
  margin-bottom: 7px;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}

.artist__date{
  font-size: 12px;
  line-height: 17px;
}

.artist__text{
  margin-top: 7px;
}


.germany-artist-accordeon__btn,
.belgium-artist-accordeon__btn,
.france-artist-accordeon__btn,
.russia-artist-accordeon__btn,
.artist-accordeon__btn{
  text-align: left;
  color: #333;
  background-color: transparent;
  border: none;
  transition: color 0.4s ease;
}


.germany-artist-accordeon__btn:hover,
.belgium-artist-accordeon__btn:hover,
.france-artist-accordeon__btn:hover,
.russia-artist-accordeon__btn:hover,
.artist-accordeon__btn:hover{
  text-decoration: underline;
  color: var(--hover-color);
  transition: color 0.2s ease-in-out;
}

.germany-artist-accordeon__btn:focus,
.belgium-artist-accordeon__btn:focus,
.france-artist-accordeon__btn:focus,
.russia-artist-accordeon__btn:focus,
.artist-accordeon__btn:focus{
  outline: 2px solid #7943A4;
}

.germany-artist-accordeon__btn:active,
.belgium-artist-accordeon__btn:active,
.france-artist-accordeon__btn:active,
.russia-artist-accordeon__btn:active,
.artist-accordeon__btn:active{
  color: var(--effect-color);
  text-decoration: none;
}


.germany-artist-accordeon__btn_active,
.belgium-artist-accordeon__btn_active,
.france-artist-accordeon__btn_active,
.russia-artist-accordeon__btn_active,
.artist-accordeon__btn_active{
  color: var(--hover-color);
  transition: color .4s ease;
}

.artist-accordeon__btn-active{
  color: var(--hover-color);
}

                    /* Artist-accodeon*/

.artist-accordeon{
  width: 100%;
  max-width: 800px;
}

.artist-accordeon__header-container{
  position: relative;
}

.artist-accordeon__header{
  margin: 0;
  padding: 38px 0 0 0;
  min-height: 113px;
  border-top: 1px solid #CACACA;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  transition: color .3s ease-in-out;
}

.artist-accordeon__header:hover{
  color: var(--hover-color);
  transition: color .1s ease-in-out;
}

.artist-accordeon__header-container:hover .arrow-down{
  background-color: var(--hover-color);
  transition: all 0.3s ease-in-out;
}

.artist-accordeon__header-container:hover .arrow-down::before{
  border: 1px solid var(--contrast-color);
  border-color: var(--contrast-color) transparent transparent var(--contrast-color);
  transition: all 0.3s ease-in-out;
}


.artist-accordeon__header-container:active .arrow-down{
  border: 2px solid #D1A9F0;
  background-color: var(--effect-color);
  transition: all 0.3s ease-in-out;
}

.artist-accordeon__header-container:active .arrow-down::before{
  border: 1px solid var(--contrast-color);
  border-color: var(--contrast-color) transparent transparent var(--contrast-color);
  transition: all 0.3s ease-in-out;
}

.artist-accordeon__header:active{
  color: var(--effect-color);
  transition: color .3s ease-in-out;
}


.artist-accordeon__header:last-child{
  border-bottom: 1px solid #CACACA;
}

.artist-accordeon__names{
  padding-top: 33px;
  padding-bottom: 27px;
  height: auto;
}


.artist-accordeon__list{
 display: flex;
 flex-flow: column wrap;
 max-height: 300px;
 width: 95%;
}

.artist-accordeon__item{
  margin-bottom: 13px;
}


.ui-accordion-content-active{
  border-top: 1px solid var(--hover-color);
  border-bottom: 1px solid var(--hover-color);
}



.arrow-down{
  position: absolute;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid transparent;
  background-color: #ececec;
  transition: all 0.3s ease-in-out;
}

.arrow-down::before{
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  height: 12px;
  width: 12px;
  border: 1px solid #000;
  border-color: #000 transparent transparent #000;
  background-color: transparent;
  transform: translatex(-50%) translateY(-50%) rotate(225deg);
  transition: all 0.3s ease-in-out;
}


.arrow-up{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border-width: 0;
  background-color: #ececec;
}

.arrow-up::before{
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  height: 12px;
  width: 12px;
  border: 1px solid #000;
  border-color: #000 transparent transparent #000;
  background-color: transparent;
  transform: translatex(-50%) translateY(-50%) rotate(45deg);
}


.ui-accordion-header-icon{
  position: absolute;
  right: 0;
  top: 29%;
  display: inline-block;
  order: 2;
}



/* Events */

.events{
  padding-top: 45px;
  padding-bottom: 80px;
}

.events__main{
  display: flex;
  flex-flow: column nowrap;
}

.events__container{
  display: flex;
  flex-flow: row wrap;

  width: 100%;
}

.events__head{
  margin-bottom: 15px;
}

.events-content{
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 50px;
  width: calc((100% - 100px)/3);
  border: 1px solid #CACACA;
}

.events-content:not(:nth-child(3n)){
  margin-right: 50px;
}

.events-more{
  display: none;

}

.events-more_active{
  display: flex;
}
.events-content__date{
  align-self: flex-end;
  padding-top: 13px;
  padding-bottom: 4px;
  padding-right: 17px;
  text-align: right;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}


.events-content__head{
  margin: 0;
  padding-bottom: 3px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.events-content__container{
  padding-right: 47px;
  padding-left: 50px;
  padding-bottom: 89px;

}

.events-content__descr{
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.events-content__btn{
  position: absolute;
  bottom: 41px;
  left: 50px;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid var(--hover-color);
  color: var(--hover-color);
  background-color: transparent;
  transition: all .3s ease-in-out;

}



.events-content__btn:hover{
  font-weight: 700;
  transition: all .3s ease;
}

.events-content__btn:active{
  font-weight: 700;
  color: var(--effect-color);
  border-bottom: 1px solid var(--effect-color);
  transition: all .3s ease-in-out;
}

.events-content__btn:focus{
 outline: 2px solid var(--effect-color);
}


.events-content__img{
  object-fit: cover;
}

.more-btn{
  margin: 0 auto;
  padding: 16px 34px;
  border: 3px solid var(--hover-color);
  border-radius: 27px;
  color: var(--hover-color);
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  transition: all .3s ease;
}

.more-btn:hover{
  background-color: var(--hover-color);
  color: var(--contrast-color);
  transition: all .3s ease;
}

.more-btn:focus{
  outline: none;
  border: 3px solid var(--effect-color);
  border-radius: 27px;
}

.more-btn:active{
  background-color: var(--effect-color);
  color: var(--contrast-color);
  transform: scale(0.95);
  transition: all .3s ease;
}

/*Publications*/

.publications{
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url('../img/izdaniya-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.publications__head{
  color: var(--contrast-color);
}


.category{
  flex-shrink: 0;
  margin-right: 20px;
}


.category__head{
  margin-bottom: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.category__list{
  margin-bottom: 27px;
}

.category__item{
  font-size: 16px;
  line-height: 32px;
  color: var(--contrast-color);
}

.label-for-checkbox{
  position: relative;
  cursor: pointer;
  padding-left: 25px;

}

.checkbox{
  display: none;
}

.checkbox + .custom-checkbox{
  position: absolute;
  top: 4px;
  left: 0;
  bottom: 0;
  width: 12px;
  height: 12px;
  border: 1px solid var(--contrast-color);
  border-radius: 3px;
  background-color: transparent;


}

.checkbox + .custom-checkbox::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}


.checkbox:checked + .custom-checkbox::before{
  opacity: 1;
  background-color: #C283F3;
  width: 4px;
  height: 4px;
  border-radius: 100%;
}

.checkbox:checked + .custom-checkbox{
  border: 1px solid #C283F3;
}

.checkbox[type="checkbox"]:focus + .custom-checkbox::before{
  outline: 3px solid #C283F3;
}


*/


.price__head{
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 16px;
  line-height: 32px;
  color: var(--contrast-color);
}

.price{
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}

.price__input{
  display: inline-block;
  border: none;
  width: 78px;
  height: 40px;
  padding: 5px;
  background-color: #9e5cd091;
  color: var(--contrast-color);
}

.price__input, textarea[contenteditable]{
  caret-color: var(--contrast-color);
}
.price__input::placeholder{
  padding: 9px 7px 8px 7px;
}

.price__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 32px;
  color: var(--contrast-color);
}
.price__input:-moz-placeholder {
  font-size: 16px;
  line-height: 32px;
  color: var(--contrast-color);
}

.price__text.price__to{
  padding: 0 5px 0 11px;
}

.price__text.price__rub{
  padding: 0 18px 0 10px;
}

.price__input.price__input_to{
  width: 82px;
}

.price__text{
  display: inline-block;
  padding: 10px 11px 5px 18px;
  color: var(--contrast-color);
  text-align: right;
}

.price__input[type=number]::-webkit-inner-spin-button,
.price__input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price__input[type="number"] {
  -moz-appearance: textfield;
}
.price__input[type="number"]:hover,
.price__input[type="number"]:focus {
  -moz-appearance: number-input;
}

.price__input[type="number"]::-webkit-outer-spin-button,
.price__input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




.inner-block{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.publications-swiper-container{
  margin-top: 25px;
  align-self: flex-end;
  max-width: 1151px;
  width: 100%;
  margin-right: 0;
}

.publications-swiper-slide{
  color: var(--contrast-color);
}

.book__info{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 0px;
}

.book__head{
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  text-align: left;

}



.book__writer{
  display: block;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.book__price{

  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: right;

}

.book__btn{
  position: relative;
  padding: 8px 20px;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: var(--contrast-color);
  background-color: transparent;
  transition: all .3s linear;
}

.book__btn:hover{
  background-color: var(--hover-color);
  transition: all .3s ease-in-out;
}

.book__btn:after{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  visibility: hidden;
  opacity: 0;
}

.book__btn:focus:after{
  border: 2px solid #C283F3;
  border-radius: 100px;
  transition: all .3s ease-in-out;
  visibility: visible;
  opacity: 1;
}

.book__btn:active{
  background-color: var(--effect-color);
  border: 2px solid #D1A9F0;
  transition: all .3s ease-in-out;
}

/*Projects*/

.projects{
  padding-top: 80px;
  padding-bottom: 80px;
}
.projects__text{
  display: inline-block;
  margin-bottom: 21px;
  width: 69.6%;
  font-size: 16px;
  line-height: 32px;
}

.projects__head{
  margin-bottom: 15px;
}


.projects__link{

  color: var(--hover-color);
  transition: all 0.3s ease-in;
}

.projects__link:hover{
  text-decoration: underline;
  color: var(--hover-color);
  transition: all 0.3s ease-in;
}

.projects__link:active{
  color: var(--effect-color);
  transition: all 0.1s ease-in;
}




.tooltip{
  position: relative;
  display: inline-block;
}

.tooltip-text{
position: absolute;
left: 50%;
bottom: calc(100% + 1px);
padding: 10px;
width: 264px;
font-weight: 600;
font-size: 12px;
line-height: 16px;
text-align: center;
color: var(--contrast-color);
background-color: #CACACA;
transform: translateX(-50%);
opacity: 0;
visibility: hidden;
transition: all 0.3s ease-in-out;
}

.tooltip-btn:before{
  content: '';
  position: absolute;
  left: -61%;
  bottom: calc(100% + 3px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 10px 7.5px;
  border-color: transparent transparent #CACACA transparent;
  transform: rotate(180deg) translateX(-45%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.tooltip .tooltip-btn:hover + .tooltip-text{

  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}
.tooltip-btn:hover{
  background: url('../img/i.svg') var(--hover-color);
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease-in-out;
}


.tooltip .tooltip-btn:focus + .tooltip-text{
  opacity: 1;
  visibility: visible;
}

.tooltip .tooltip-btn:hover:before{
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.tooltip .tooltip-btn:focus:before{
  opacity: 1;
  visibility: visible;
}

.tooltip-btn{
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 1px solid var(--hover-color);
  background: url('../img/i-purple.svg');
  background-repeat: no-repeat;
  background-position: center;
 vertical-align: middle;
 transition: all 0.3s ease-in-out;
}



.partners__head{
  margin-top: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.swiper{
  display: flex;
  align-items: center;
}


.partners-swiper-container{
  max-width: 1451px;
  width: 100%;
  height: 152px;
}

.partners-swiper-button-prev::after,
.partners-swiper-button-next::after{
    display: none;
}

.partners-swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{
    content: '';
}

.partners-swiper-button-prev,
.partners-swiper-button-next{
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
    background-color: #CACACA;
    transition: background-color 0.3s ease-in;
}


.partners-swiper-button-prev{
  margin-right: 15px;
}

.partners-swiper-button-next{
  margin-left: 15px;
}

.btn-svg-prev{
  position: absolute;
  left: 50%;
  top: 50%;
  stroke: black;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}

.btn-svg-next{
  position: absolute;
  left: 50%;
  top: 50%;
  stroke: black;
  transform: translate(-50%, -50%) rotate(180deg);
  transition: all 0.3s ease-in-out;
}

.partners-swiper-button-prev:focus,
.partners-swiper-button-next:focus{
    outline: none;
    border-radius: 100%;
    border: 2px solid var(--hover-color);
}

.swiper-button-disabled{
  background-color: #666;
  opacity: 0.5;
}

.partners-swiper-button-prev:hover.swiper-button-disabled,
.partners-swiper-button-next:hover.swiper-button-disabled{
  background-color: #666;
}

.partners-swiper-button-prev:hover.swiper-button-disabled .btn-svg-prev,
.partners-swiper-button-next:hover.swiper-button-disabled .btn-svg-next{
  stroke: black;
}

.partners-swiper-button-prev:hover,
.partners-swiper-button-next:hover{
    background-color: var(--hover-color);
}

.partners-swiper-button-prev:hover > .btn-svg-prev,
.partners-swiper-button-next:hover > .btn-svg-next{
    stroke: white;
    stroke-width: 1px;
    transition: all 0.3s ease-in-out;
}

.partners-swiper-button-prev:active,
.partners-swiper-button-next:active{
    border: 2px solid #D1A9F0;
    background-color: var(--effect-color);
    transition: all 0.2s ease-in;
}



.partners-swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 150px;
  border: 1px solid #CACACA;
}

.swiper-img{
  filter: grayscale(100%);
  opacity: 50%;
  transition: all 0.3s ease-in;
}

.partners-swiper-slide:hover .swiper-img{
  filter: none;
  opacity: 1;
  transition: all 0.3s linear;
}



/* Contacts*/



.contacts__head{
  margin-bottom: 15px;
}
.contacts-container{
  display: flex;
}

.contact-us{

  padding-right: 122px;
  padding-bottom: 124px;
  overflow: visible;
  padding-top: 125px;
  padding-left: calc((100vw - 1600px)/2);
  border: 1px solid #CACACA;
}

.contact-us__head{
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.form{
  max-width: 400px;
  width: 100%;
}

.form__head{
  margin-top: 35px;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.form__input{
  margin-bottom: 23px;
  width: 100%;
  height: 40px;
  border: 1px solid #333333;
  border-radius: 100px;
}

.form__input[placeholder]{
  padding-left: 24px;
  font-size: 16px;
  line-height: 32px;
  color: #999999;
}

.form__btn{
  border: 2px solid var(--hover-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: var(--hover-color);
  background-color: transparent;
  border-radius: 34px;
  padding: 15px 34px;
}


.map-container{
  width: calc(100vw - 34.5%);
}

[class*="ground-pane"]{
    filter: grayscale(1);
}


.ymaps-2-1-77-copyright__agreement, .ymaps-2-1-77-gotoymaps{
    display: none;
}

.ymaps-2-1-77-gototech{
    opacity: 0;
}

.ymaps-2-1-77-gotoymaps__container{
    opacity: 0;
}

.whatsup{
  display: inline-block;
  margin-right: 18px;
  width: 39px;
  height: 39px;
  background-image: url('../img/Whatsapp-Icon.svg');

}

.telegram{
  display: inline-block;
  width: 39px;
  height: 39px;
  background-image: url('../img/Telegram_2019_Logo.svg');

}





/* Footer*/


.footer{
  padding-top: 50px;
  padding-bottom: 38px;
  background-color: #000;
}

.footer-container{
  display: flex;
  justify-content: space-between;
}
.vk,
.facebook,
.instagram{
  display: inline-block;

}

.vk{
  margin-right: 19px;
  width: 45px;
  height: 45px;
  background-image: url('../img/vk.svg');
}

.facebook{
  width: 45px;
  height: 45px;
  background-image: url('../img/fb.svg');
}

.instagram{
  margin-right: 19px;
  width: 45px;
  height: 45px;
  background-image: url('../img/instagram.svg');
}
